@model Model.EF.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.EF.ProductCategory)ViewBag.Category;
    var relatedProducts = (List<Model.EF.Product>)ViewBag.RelatedProducts;
}

<div class="content">
    <div class="content_top">
        <div class="back-links">
            <p><a href="/">Trang Chủ</a> >>>> <a href="/san-pham/@category.MetaTitle-@category.ID">@category.Name</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="product-details">
                <div class="grid images_3_of_2">
                    <div id="container">
                        <div id="products_example">
                            <div id="products">
                                <div class="slides_container">
                                            <a href="#" target="_blank"><img src="@Model.Image" alt=" "></a>
                                    </div>

                                </div><a href="#" class="prev">Prev</a><a href="#" class="next">Next</a>
                                <ul class="pagination">
                                    <li class="current"><a href="#0"><img src="images/thumbnailslide-1.jpg" alt=" "></a></li>
                                    <li><a href="#1"><img src="images/thumbnailslide-2.jpg" alt=" "></a></li>
                                    <li><a href="#2"><img src="images/thumbnailslide-3.jpg" alt=" "></a></li>
                                    <li><a href="#3"><img src="images/thumbnailslide-4.jpg" alt=" "></a></li>
                                    <li><a href="#4"><img src="images/thumbnailslide-5.jpg" alt=" "></a></li>
                                    <li><a href="#5"><img src="images/thumbnailslide-6.jpg" alt=" "></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc span_3_of_2">
                    <h2>@Model.Name</h2>
                    <p>@Model.Description</p>
                    <div class="price">
                        <p>Giá: <span>@(Model.Price.HasValue? Model.Price.Value.ToString("N0"): "Liên Hệ")</span></p>
                    </div>
                    <div class="share-desc">
                        
                        <div class="button">
                            <span><a style="text-decoration" href="/them-gio-hang?productId=@Model.ID&quantity=1">Thêm vào giỏ hàng</a></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="wish-list">
                        <ul>
                            <li class="wish"><a href="#">Thêm vào yêu thích</a></li>
                            <li class="compare"><a href="#">So sánh</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="product_desc">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">
                        <li>Chi Tiết</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="resp-tabs-container">
                        <div class="product-desc">
                           @Html.Raw(Model.Detail)
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
            </script>
            <div class="content_bottom">
                <div class="heading">
                    <h3>Sản Phẩm Liên Quan</h3>
                </div>
                <div class="see">
                    <p><a href="/san-pham">Xem tất cả</a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section group">
                @foreach (var item in relatedProducts)
                {
                    var url = "/chitiet/" + item.MetaTitle + "-" + item.ID;
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="@url"><img src="@item.Image" alt=""></a>
                        <div class="price" style="border:none">
                            <div class="add-cart" style="float:none">
                                <h4><a href="@url">Add to Cart</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="rightsidebar span_3_of_1">
            <h2>Danh mục sản phẩm</h2>
            @{ Html.RenderAction("ProductCategory", "Product");}
        </div>
    </div>
</div>

