@model Model.EF.Product
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.EF.ProductCategory)ViewBag.Category;
    var relatedProducts = (List<Model.EF.Product>)ViewBag.RelatedProducts;
}

<div class="content">
    <div class="content_top">
        <div class="back-links" style="font-size:2rem;display:flex">
            <p><a href="/">Trang Chủ</a></p>/
            <p><a href="/san-pham/@category.MetaTitle-@category.ID">@category.Name</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="cont-desc span_1_of_2" style="width:73%;">
            <div class="product-details">
                <div class="grid images_3_of_2">
                    <div id="container">
                        <div id="products_example">
                            <div id="products">
                                <div class="slides_container">
                                            <a href="#" target="_blank"><img src="@Model.Image" alt=" "></a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc span_3_of_2">
                    <h2>@Model.Name</h2>
                    <p>@Model.Description</p>
                    <div class="price">
                        <p>Giá: <span>@(Model.Price.HasValue? Model.Price.Value.ToString("N0"): "Liên Hệ")</span></p>
                        <span>@(Model.Status? "Còn hàng":"Hết hàng")</span>
                    </div>
                    <div class="share-desc">
                        <ul class="list-share"style="display:flex">
                            <li><p>Chia sẻ :</p></li>
                            <li><a href="#"><i class="fab fa-facebook-f" style="margin-right:20px;"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter" style="margin-right:20px;"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube" style="margin-right:20px;"></i></a></li>
                            <li><a href="#"><i class="fab fa-discord"></i></a></li>
                        </ul>
                        <div class="add-cart">
                            <h4><a href="/them-gio-hang?productId=@Model.ID&quantity=1">Thêm vào giỏ hàng</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="wish-list">
                        <ul>
                            <li class="wish"><a href="#">Thêm vào yêu thích</a></li>
                            <li class="compare"><a href="#">So sánh</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="product_desc">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">
                        <li>Chi Tiết</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="resp-tabs-container">
                        <div class="product-desc">
                           @Html.Raw(Model.Detail)
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
            </script>
            <div class="content_bottom">
                <div class="heading">
                    <h3>Sản Phẩm Liên Quan</h3>
                </div>
                <div class="see">
                    <p><a href="/san-pham">Xem tất cả</a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section group">
                @foreach (var item in relatedProducts)
                {
                    var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                    <div class="grid_1_of_4 images_1_of_4" style="margin-left: 15px;">
                        <a href="@url"><img src="@item.Image" alt=""></a>
                        <div class="price" style="border:none">
                            <div class="product-body">
                                <h3 class="product-name"><a href="#">@item.Name</a></h3>
                                <h4 class="product-price">@(item.Price.HasValue? item.Price.Value.ToString("N0"):"Liên hệ")></h4>
                                <h4>@(item.Status? "Còn hàng":"Hết hàng")</h4>
                            </div>
                            <div class="add-cart" style="float:none">
                                <h4><a href="/them-gio-hang?productId=@item.ID&quantity=1">Thêm vào giỏ hàng</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="rightsidebar span_3_of_1">
            <h2>Danh mục sản phẩm</h2>
            @{ Html.RenderAction("ProductCategory", "Product");}
        </div>
    </div>

